{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, at quas! Molestiae, nihil. Libero necessitatibus ullam nihil fugit eius quod aspernatur sed possimus voluptatem distinctio obcaecati voluptate labore quibusdam quia non incidunt, quis corporis rem facilis? Ducimus fugiat quidem reiciendis magnam eveniet rerum cupiditate quisquam labore exercitationem illo dicta, velit quis quae, id architecto nulla eum tempora dolorem porro ipsum! Laudantium, iusto animi esse quia quas ipsum facilis quis expedita voluptatem rem exercitationem ut non? Magni modi reiciendis, odio, excepturi obcaecati molestiae quisquam, qui ratione velit ipsam dignissimos esse! Dignissimos ratione quis rerum assumenda repudiandae animi, fuga provident veniam odio?</p>

{% endblock body  %}